.header-container {
  align-items: center;
  padding: 15px;
  background-color: #F1E6D6; /* Основной фон */
}

.profile-button {
  float: right;
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.text {
  float: left;
  color: #8A6552; /* Основной текст */
  text-align: left;
}

.text-name {
  text-align: left;
}


.main-button {
  color: #AB806C; /* Основной акцент */
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-left: 5vh;
  text-align: left;
}

.button-text {
  padding: 0;
  margin: 0;
  float: left;
}

.profile-button img {
  margin: auto;
  width: 40px;
  height: 40px;
  display: block;
}
