.details-container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #F1E6D6; /* Светлый фон для контейнера */
}

.establishment-details {
  margin-bottom: 40px;
}

.establishment-name {
  text-align: left;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
  color: #8A6552; /* Основной тёмный текст */
  display:inline-block;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.main-establishment-image {
  width: 250px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  border: none; /* Граница для изображения */
  object-fit: cover;
}

.establishment-description {
  margin-bottom: 10px;
  color: #8A6552; /* Основной тёмный текст */
}

.address-details {
  margin-bottom: 10px;
  color: #8A6552; /* Основной тёмный текст */
}

.map-button-container {
  margin-bottom: 20px;
  text-align: center;
}

.map-button {
  padding: 10px 20px;
  background-color: #AB806C; /* Основной акцентный цвет */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  left: 0; 
  margin-left: 0;
  display:  block;
}

.map-button:hover {
  background-color: #8A6552; /* Цвет кнопки при наведении */
}

.establishment-features {
  border: none; /* Граница для характеристик */
  border-radius: 5px;
  display: flex;
  margin: 5px;
  padding: 10px;
  background-color: #f9f4ef; /* Светлый фон для характеристик */
}

.establishment-features div {
  margin: 0 20px 0 0;
  color: #8A6552; /* Основной тёмный текст */
}

.loading-message {
  text-align: center;
  font-size: 18px;
  color: #999;
}

.close-establishments-container {
  margin-bottom: 10px;
}

.close-establishments-heading {
  font-size: 20px;
  margin-bottom: 10px;
  color: #8A6552; /* Основной тёмный текст */
}

.close-establishments {
  display: flex;
  overflow-x: auto;
}

.close-establishment-card {
  margin-right: 10px;
  text-align: center;
}

.close-establishment-image {
  width: 120px;
  height: 150px; /* Установите фиксированную высоту */
  border-radius: 8px;
  margin-bottom: 5px;
  border: none; /* Граница для изображений */
  object-fit: cover; /* Обрезать изображение до размеров контейнера */
}


.close-establishment-name {
  font-size: 14px;
  color: #8A6552; /* Основной тёмный текст */
}

.close-establishment-link {
  text-decoration: none;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-bottom: 20px;
}

.review-form {
  max-width: 400px;
  margin-bottom: 20px;
}

.review-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #8A6552;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="number"],
.form-group textarea,
.form-group input[type="file"],
.form-group label {
  width: 100%;
}

.form-group textarea {
  resize: vertical;
}

.review-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #AB806C;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button[type="submit"]:hover {
  background-color: #8A6552;
}

@media screen and (min-width: 600px) {
  .review-form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .review-form {
    width: calc(50% - 10px);
  }

  .review-form:last-child {
    margin-left: 20px;
  }
}

  .review-list {
    margin-left: -10px;
    margin-top: -15px;
  }

  .review-list-header {
    font-size: 24px;
    margin-left: 10px;
    color: #8A6552; /* Основной тёмный текст */
  }
