.details-container {
    width: 100%;  
    height: 100vh;
    padding: 20px;
  }
  
  .establishment-details {
    margin-bottom: 40px;
  }
  
  .establishment-name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .info{
    display: flex;
  }
  
  .establishment-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    display: inline-block;
  }
  
  .establishment-description {
    display: inline-block;
    margin: 5px;
  }
  
  .address-details {
    margin: 5px;
  }
  
  .map-button-container {
    text-align: center;
  }
  
  .map-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5c00;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .map-button:hover {
    background-color: #b13f00;
  }
  
  .establishment-features {
    padding: 20px;
    border: 1px solid #ff5c00;
    border-radius: 5px;
    display: flex;
    margin: 5px;
  }

  .establishment-features div{
    padding: 20px;
  }
  
  .loading-message {
    text-align: center;
    font-size: 18px;
    color: #999;
  }
  