.profile-form-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.profile-form-container h2{
  text-align: left;
  margin-bottom: 20px;
  color: #8A6552; /* Темно-коричневый (текст) */
}

.profile-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 15px;
}

.checkbox-group {
  flex-basis: calc(50% - 7.5px); /* 50% ширины с учетом отступа */
}

label {
  font-weight: bold;
  color: #8A6552; /* Темно-коричневый (текст) */
}

.title-checkboxes {
  text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #F9F4EF;
  border: 1px solid #F9F4EF;
}

.form-group button[type="submit"] {
  padding: 10px 20px;
  background-color: #AB806C;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  float: center;
}

.form-group button[type="submit"]:hover {
  background-color: #AB806C;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.profile-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Цвет рамки поля ввода */
  border-radius: 5px; /* Скругление углов поля ввода */
  background-color: #F9F4EF;
}

.profile-form input[name="avg_bill"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Цвет рамки поля ввода */
  border-radius: 5px; /* Скругление углов поля ввода */
  background-color: #F9F4EF;
}

.form-group p {
  color: #8a6552;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: large;
  /* text-align: center; */
}
