.review-list-container {
    background-color: #F1E6D6; /* Светлый бежевый */
    /* padding: 20px; */
    border-radius: 10px;
    margin-top: 20px;
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    background-color: #F9F4EF; /* Очень светлый бежевый (фон карточек) */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-nickname {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 5%;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 2px; /* Уменьшенный отступ сверху */
    margin-bottom: 2px; /* Уменьшенный отступ снизу */
}

.star {
    font-size: 20px !important; /* Уменьшенный размер звездочек */
    cursor: pointer;
    margin-right: 1px !important; /* Уменьшенный отступ между звездами */
}


.filled {
    color: #AB806C; /* Коричневый (основной акцент) */
}

.review-rating {
    display: flex;
    align-items: center;
}

.date {
    margin-bottom: 0;
}
