.review-list-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.review-list-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-nickname {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}
