.review-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #DDD2C1; /* Светло-серый (вторичный фон) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #8A6552; /* Темно-коричневый (текст) */
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #8A6552; /* Темно-коричневый (текст) */
}

.form-group input[type="number"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group-file {
    margin-bottom: 20px;
    width: 100%;
}

.form-group-file label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #8A6552; /* Темно-коричневый (текст) */
}

.form-group-file input[type="file"] {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

.review-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #AB806C; /* Коричневый (основной акцент) */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-form button[type="submit"]:hover {
    background-color: #8A6552; /* Темно-коричневый (текст) */
}